html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url("./mountains.jpg");
  background-position: center;
  background-size: 2500px auto;
  background-repeat: no-repeat;
}